.messageInputContainer {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ccc;
    background-color: #f7f7f7;
}

.messageInputContainer input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-right: 10px;
    outline: none;
}

.messageInputContainer input:focus {
    border-color: #075e54;
}

.messageInputContainer button {
    padding: 10px 15px;
    background-color: #075e54;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.messageInputContainer button:hover {
    background-color: #064e47;
}
